{% extends 'catalog/base.html' %}

{% block content %}
<!-- Nav bar -->
<section class="site-nav">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
    </nav>
</section>

<!--Page Content-->

<div class="index-page-welcome">
    <h2>Welcome to Cosmic Commerce</h2>
    <h3>Where you can find the best products in the settled systems</h3>
    <p>Login here, or feel free to browse or <a href="{% url 'register' %}">Register</a> here</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
</div>




{% endblock %}